@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap');
.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 100vh;
}

.services {
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 50vh;
}

.contacts {
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
}

.contacts h1 {
    position: relative;
    top: 30px;
}

.contact-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.text {
    margin-bottom: 20px;
}

.form-control {
    background-color: #66000000;
    color: white;
}

.input {
    margin-top: 30px;
}

.b-text {
    font-family: 'Comfortaa', cursive;
}

.m-text {
    font-family: 'Raleway', sans-serif;
}

.name {
    margin-right: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

.email {
    margin-right: 5px;
}

.social {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    height: 250px;
}

.about h1 {
    margin-top: 30px;
}

.services h1 {
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}

.small-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 50vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.overlay>img,
.h-text {
    position: relative;
    top: 33%;
}

.overlay>img,
.welcome {
    margin-bottom: 30px;
}

.click {
    margin-top: 330px;
}

figcaption {
    margin-top: 20px;
}

.portfolio {
    /*height: 650px;*/
    padding-bottom: 50px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}

#bounce {
    animation: bounce 3s infinite;
}

.portimg {
    float: right;
    position: relative;
    margin: 5px;
    /*color: #333;*/
}

.portimg .porttext {
    display: none;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: deepskyblue;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}