.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 668px;
}

.services {
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 280px;
}

.contacts {
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
}